.chess-rules-container {
    background-color: var(--bg-color); /* Light beige background */
    padding: 3rem 1rem; /* Padding for spacing */
    box-shadow: var(--box-shadow); /* Soft shadow for depth */
    margin: 50px auto; 
}

h1{
    text-align: center;
}

.section-title{
    text-align:center;
    font-size: 2rem;;
}

.highlight{
    color: var(--primary-color);
}